# Hugo build output
/public/
/resources/_gen/
/hugo_stats.json
.hugo_build.lock

# Dependency directories
/node_modules/

# Temporary files
*.log
*.tmp
*.temp
*.swp
*.swo
*.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
ehthumbs.db
Desktop.ini

# Backup files
*.bak
*.backup
*~

