<p>
  &copy; {{ now.Year }} <strong>Extinction Bounties</strong>. All rights reserved. 
</p>

<p>
  Questions, feedback, or media inquiries? 
  <a href="mailto:extinction.bounties@gmail.com">Email us</a> or reach out on 
  <a href="https://twitter.com/ExtinctionBount" target="_blank" rel="noopener">Twitter @ExtinctionBount</a>.
</p>

<p>
  <a href="/meta/anonymity">The authors wish to remain anonymous.</a> Please respect this choice and use only the official channels above for contact.
</p>

<p>
  Everything you see here is
  <a href="https://github.com/extinction-bounties/extinction-bounties.github.io">publicly accessible on Github!</a>
  Our whole editing history, including rewrites, mistakes and retractions can be found there as well.
  Want to suggest an edit to this page?
  <a href="https://github.com/extinction-bounties/extinction-bounties.github.io/pulls">Just submit a pull request</a>
  and we'll look it over! Just want to give advice or raise a concern?
  <a href="https://github.com/extinction-bounties/extinction-bounties.github.io/issues">Create a Github Issue</a>
  and we'll get back to you.
</p>


<p>
  <em>To cite this page:</em><br>
  "{{ .Title }}." <strong>Extinction Bounties</strong>, last published {{ time.Now | time.Format "2006-01-02" }}. 
</p>
